* {
    padding: 0; 
    margin: 0; 
}
body {
	font: 11px Tahoma;
	
}
h1 {
    font: bold 32px Times;
	color: #666;
	text-align: center;
	padding: 20px 0;    
}
#container {
    width: 700px;
    margin: 10px auto;
}

.mGrid { background-color: #fff; margin: 10px 10px 10px 2px; 
border: solid 1px #525252; border-collapse:collapse;  }
    .mGrid td { padding: 2px;  padding-left :20px; color: #717171; text-align:center;  font-family:Tahoma; text-align:left;}
    .mGrid th { padding: 4px 2px;  padding-left:20px; color: #fff;text-align:left; background: #9ACD32 url(~\Images\grd_head.png) repeat-x top; border-bottom:solid 1px #525252; font-size: 1.1em;font-family:Tahoma; }
    .mGrid .alt { background: #fcfcfc url(~\Images\grd_alt.png) repeat-x top; }
    .mGrid .pgr {background: #424242 url(~\Images\grd_pgr.png) repeat-x top; }
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
    .mGrid .pgr a { color: #666; text-decoration: none; }
    .mGrid .pgr a:hover { color: #000; text-decoration: none; }
    
.Gridview
{
    font-family:Verdana;
    font-size:10pt;
    font-weight:normal;
    color:black;
}
        .style1
        {
         width: 100%;
        }
        .style2
        {
            width: 127px;
        }
        .style3
        {
        }
        .style7
        {
        }
        .style10
        {
            width: 129px;
        }
        .style11
        {
            width: 126px;
        }
        
         .style12
        {
            height: 15px;
        }
        .style13
        {
            height: 26px;
        }
        .style15
        {
            width: 96px;
        }
        .style16
        {
            width: 127px;
            height: 26px;
        }
        .style36
        {
        height: 27px;
        }